<h1>title</h1>
<form>
  <div class="form-group">
    <label for="nome" class="form-label">Nome</label>
    <input type="email" class="form-control" id="nome" aria-describedby="emailHelp">
  </div>
  <div class="form-group">
    <label for="email" class="form-label">E-mail</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
  </div>
  <div class="form-group">
    <label for="senha" class="form-label">Senha</label>
    <input type="password" class="form-control" id="senha">
  </div>
  <div class="form-group">
    <label for="confimarSenha" class="form-label">Confirmar senha</label>
    <input type="password" class="form-control" id="confimarSenha">
  </div>
  <div class="form-group">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
